#map {
    height: 80vh;
    border: 1px solid black;
}

#baro {
    height: 80vh;
    width: 100%;
    border: 1px solid black;
    display: hidden;
}

#task {
    width: 100%;
}

#drop_area {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 300px;
    height: 300px;
    border: 2px black solid;
    z-index: 1000;

}

#drop_area.highlight {
    border-color: purple;
}
